.login{
    position: absolute; 
    left: 20%; 
    top: 50%; 
    transform: translate(-50%, -50%); 

}

.login_titulo{
    width: 168px;
    height: 95px;
    font-size: 100px;
    color: #ffffff;
    font-weight: 400;
    right: 768px;
    font-family: "Marvel";
    background-color: #ff0000;
    padding-left: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.login_bem_vindo{
    font-size: 30px;
    color: #ff0000;
    font-weight: bold;
    font-family: "Axiforma";
    margin-left: 30px;
    margin-bottom: 10px;
}

.login_Acessar{
    font-size: 20px;
    color: #84848d;
    font-weight: 300;
    font-family: "Axiforma";
}

.login_retangulo{
    width: 383px;
    height: 54px;
    border-radius: 37px;
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.16));
    background-color: #ffffff;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 20px;
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 300;
    font-family: "Axiforma";
}

.salvar_login{
    font-size: 15px;
    font-size: 15px;
    color: #84848d;
    font-weight: 500;
    font-family: "Axiforma";
    margin-right: 180px;
    
}

.esquecer_senha{
    font-size: 15px;
    color: #84848d;
    font-weight: 500;
    font-family: "Axiforma";
    text-decoration: underline;
    text-decoration-color: #ff0000;
    
}

.login_retangulo_entrar{
    width: 383px;
    height: 65px;
    border-radius: 33px;
    background-color: #ff0000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.login_retangulo_entrar > span{
    text-decoration: none;
    font-size: 28px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Axiforma";
}

.cadastro{
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Axiforma";
    text-align: center;
}

.cadastro > a{
    color: #ff0000;
}

/* Responsivo para tablets */
@media screen and (max-width: 1025px) {
    .login {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%; /* Ajusta o tamanho para telas menores */
    }

    form{
        text-align: center;
    }

    .login_titulo {
        height: 50px;
        font-size: 60px;
        padding: 10px;
        margin: 10px auto;
        text-align: center;
    }

    .login_bem_vindo {
        font-size: 20px;
        text-align: center;
        margin: 10px auto;
    }

    .login_Acessar {
        font-size: 16px;
        text-align: center;
    }

    .login_retangulo {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
    }

    .login_retangulo_entrar {
        width: 100%;
        max-width: 300px;
    }

    .login_retangulo_entrar > a {
        font-size: 22px;
        text-align: center;
    }

    .salvar_login,
    .esquecer_senha {
        font-size: 14px;
        text-align: center;
        margin: 10px auto;
    }
    .salvar_login{
        margin-right: 100px;
    }
    .cadastro {
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .cadastro > a {
        font-size: 14px;
    }
}

/* Responsivo para celulares */
@media screen and (max-width: 628px) {
    .login_titulo {
        font-size: 50px;
        padding: 8px;
        margin: 8px auto;
    }

    .login_bem_vindo {
        font-size: 18px;
        color: #ff0000;
    }

    .login_Acessar {
        font-size: 14px;
        color: #e9e7e7;
    }

    .login_retangulo {
        width: 100%;
        max-width: 250px;
        font-size: 16px;
    }

    .login_retangulo_entrar {
        width: 100%;
        max-width: 250px;
    }

    .login_retangulo_entrar > a {
        font-size: 20px;
    }

    .salvar_login,
    .esquecer_senha {
        font-size: 12px;
        color: #e9e7e7;
    }


    .cadastro {
        font-size: 12px;
    }

    .cadastro > a {
        font-size: 12px;
        color: #E0F7FA;
        font-weight: bold;
        text-shadow: 2px 2px 4px #000000;

    }
}
